@import '../../css/global-variables.scss';

.stats{
	height: 100vh;

	.pages{
		display: flex;
		justify-content: space-between;

		li{
			width: 48px;
			height: 48px;

			border: 2px solid #F1F1F1;
			box-sizing: border-box;
			border-radius: 8px;

			display: flex;
			justify-content: center;
			align-items: center;

			font-size: $sixth-font-size;

			color: #1A1A1A;
		}

		.ant-pagination-item-active{
			background: #3A80BA;
			border-radius: 8px;

			color: #FFFFFF;
		}
	}
}