@import '../../css/global-variables.scss';

.bottomContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6.5vw;

	.bottomTitle{
		font-size: $fifth-font-size;
		line-height: 39px;

		color: #FFFFFF;
	}

	.bottomDisclaimer, .bottomCopyright{
		font-size: $sixth-font-size;
		line-height: 142%;

		text-align: center;

		color: #FFFFFF;
	}
}