@import '../../css/variables.scss';

.bottomContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6.5vw;

	.bottomTitle{
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: $fifth-font-size;
		line-height: 39px;

		color: #FFFFFF;
	}

	.bottomDisclaimer{
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: $sixth-font-size;
		line-height: 142%;

		text-align: center;

		color: #FFFFFF;
	}

	.bottomCopyright{
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: $sixth-font-size;
		line-height: 142%;

		text-align: center;

		color: #FFFFFF;
	}
}